apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - backup.yml
  - prune-backups.yml

configMapGenerator:
  - name: hive-metastore-s3-backups
    options:
      disableNameSuffixHash: false
    literals:
      - S3_ENDPOINT=https://s3.ops.cqdg.ferlab.bio
      - S3_BUCKET=clin-staging-app-hive-metastore-backups
      - S3_REGION=RegionOne
      #15 days
      - S3_BACKUP_MAX_AGE="1296000"
