[submodule "dev/cqdg-orchestrations"]
	path = dev/cqdg-orchestrations
	url = https://github.com/Ferlab-Ste-Justine/cqdg-orchestrations.git
[submodule "staging/cqdg-orchestrations"]
	path = staging/cqdg-orchestrations
	url = https://github.com/Ferlab-Ste-Justine/cqdg-orchestrations.git
[submodule "qa/cqdg-orchestrations"]
	path = qa/cqdg-orchestrations
	url = https://github.com/Ferlab-Ste-Justine/cqdg-orchestrations.git
