---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-sql-exec
  namespace: spark
  labels:
    name: spark
data:
  spark-ceph.conf: |
    spark.app.name=spark-sql-exec
    spark.executor.instances=1
    spark.kubernetes.container.image=ferlabcrsj/spark:3.1.2
    spark.hadoop.fs.s3a.endpoint=https://esc.calculquebec.ca:8080
    spark.sql.shuffle.partitions=500
    spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
    spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog