---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: clin-staging

resources:
  - ../../common/fhir-server
  - ingresses.yml
  - es-migration
  #- backups

patchesStrategicMerge:
  - configmaps.yml
  - deployments.yml

commonLabels:
  group: clin-fhir-server
