apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
spec:
  type: NodePort
  ports:
  - port: 9083
    protocol: TCP
    targetPort: 9083
    nodePort: 30084
  selector:
    name: hive-metastore