---
apiVersion: v1
kind: ConfigMap
metadata:
  name: variant-tables-to-ndjson
  namespace: spark
  labels:
    name: spark
data:
  spark-ceph.conf: |
    spark.app.name=variant-tables-to-ndjson
    spark.executor.instances=5
    spark.kubernetes.container.image=ferlabcrsj/spark:ba3d4e6d97baef31fb450cb6c75c73b19ec64fce
    spark.hadoop.fs.s3a.endpoint=https://esc.calculquebec.ca:8080
    spark.sql.shuffle.partitions=500
    spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
    spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog
    spark.executor.memory=8g