---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: clin-ferload
  name: clin-ferload
spec:
  replicas: 2
  selector:
    matchLabels:
      app: clin-ferload
  template:
    metadata:
      labels:
        app: clin-ferload
    spec:
      containers:
        - image: chusj/ferload:__UNDEFINED__
          name: clin-ferload
          resources:
            requests:
              memory: "1024Mi"
              cpu: "1.00"
            limits:
              memory: "2048Mi"
              cpu: "2.00"
          envFrom:
            - configMapRef:
                name: clin-ferload
