---
apiVersion: v1
kind: ConfigMap
metadata:
  name: genes-tables-creation
  labels:
    name: spark
data:
  spark-ceph.conf: |
    spark.app.name=genes-tables-creation
    spark.executor.instances=5
    spark.kubernetes.container.image=ferlabcrsj/spark:0edb597e24b5320a3363e0c07050736c325082b5
    spark.sql.shuffle.partitions=500