---
apiVersion: v1
kind: ConfigMap
metadata:
  name: genes-tables-creation
  namespace: spark
  labels:
    name: spark
data:
  spark-ceph.conf: |
    spark.app.name=genes-tables-creation
    spark.executor.instances=10
    spark.kubernetes.container.image=chusj/spark:2b05281a31f7feb82716ca3b303d37a700a4bb3c
    spark.hadoop.fs.s3a.endpoint=https://esc.calculquebec.ca:8080
    spark.sql.shuffle.partitions=500