apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: clin-qa

resources:
  - ingress.yml
  - ../cqdg-orchestrations/arranger

patchesStrategicMerge:
  - deployments.yml

configMapGenerator:
  - name: arranger-keycloak-configs
    options:
      disableNameSuffixHash: false
    literals:
      - LOGS_REQUEST_INTERCEPTOR="false"
      - AUTH_CLIENT_ID=clin-client
      - AUTH_SERVER_URL=https://auth.qa.clin.ferlab.bio/auth
      - AUTH_REALM=CLIN
      - SERVICE_ACCOUNT_CLIENT_ID=clin-system
      - SECURE="true"